<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="fake_robot_ros2_control" params="name prefix">
    
    <ros2_control name="${prefix}camera_front" type="system">
      <hardware>
        <plugin>usb_camera_hardware/UsbCameraHwInterface</plugin>
        <param name="device_type">mock_camera</param>
        <param name="video_device">/dev/video0</param>
        <param name="image_width">640</param>
        <param name="image_height">480</param>
        <param name="framerate">60.0</param>
        <param name="pixel_format">mjpeg</param>
        <param name="camera_frame_id">${prefix}camera_link</param>
        <param name="output_mode">screen</param>
        <param name="fx">500.0</param><param name="fy">500.0</param>
        <param name="cx">320.0</param><param name="cy">240.0</param>
        
        <param name="enable">true</param>
        <param name="sensor_components">image_image_raw;</param>
        <param name="interface_name"></param>
        <param name="intrinsic_matrix">848.0,0.0,424.0,0.0,848.0,400.0,0.0,0.0,1.0</param>
        <param name="distortion">0,0,0,0,0</param>
        <param name="extrinsics">0,0,0,0,0,0</param>
        
        <sensor>
          <state_interface name="image"/>
        </sensor>
      </hardware>
    </ros2_control>

    <ros2_control name="${prefix}t265_front" type="system">
      <hardware>
        <plugin>t265_camera_hardware/T265CameraHwInterface</plugin>
        <param name="device_type">t265_camera</param>
        <param name="serial_no">224622110353</param>
        <param name="usb_port_id">4-1</param>
        <param name="wait_for_device_timeout">-1.0</param>
        <param name="reconnect_timeout">6.0</param>
        <param name="initial_reset">true</param>

        <param name="enable">true</param>
        <param name="frame_id">t265_camera_link</param>
        <param name="sensor_components">imu_imu;pose_pose;image_fisheye0;image_fisheye1</param>
        <param name="interface_name"></param>
        <param name="intrinsic_matrix">848.0,0.0,424.0,0.0,848.0,400.0,0.0,0.0,1.0</param>
        <param name="distortion">0,0,0,0,0</param>
        <param name="extrinsics">0,0,0,0,0,0</param>

        <sensor>
          <state_interface name="image0"/>
          <state_interface name="image1"/>
          <state_interface name="pose"/>
          <state_interface name="gyro"/>
          <state_interface name="accel"/>
        </sensor>

      </hardware>
    </ros2_control>

    <ros2_control name="${prefix}mid360_front" type="system">
      <hardware>
        <plugin>mid360_lidar_hardware/Mid360LidarHwInterface</plugin>
        <param name="xfer_format">4</param>
        <param name="multi_topic">0</param>
        <param name="data_src">0</param>
        <param name="publish_freq">10.0</param>
        <param name="output_type">0</param>
        <param name="frame_id">livox_frame</param>
        <param name="lvx_file_path">/home/livox/livox_test.lvx</param>
        <param name="cmdline_input_bd_code">livox0000000001</param>
        <param name="lidar_type">8</param>
        <param name="lidar_ip">192.168.1.168</param>
        <param name="lidar.cmd_data_port">56100</param>
        <param name="lidar.publish_msg_port">56200</param>
        <param name="lidar.point_data_port">56300</param>
        <param name="lidar.imu_data_port">56400</param>
        <param name="lidar.log_data_port">56500</param>
        <param name="host_ip">192.168.1.50</param>
        <param name="host.cmd_data_port">56101</param>
        <param name="host.publish_msg_port">56201</param>
        <param name="host.point_data_port">56301</param>
        <param name="host.imu_data_port">56401</param>
        <param name="host.log_data_port">56501</param>
        <param name="pcl_data_type">1</param>
        <param name="pattern_mode">0</param>
        <param name="extrinsic_parameter">0.0,0.0,0.0,0,0,0</param>


        <param name="enable">true</param>
        <param name="sensor_components">lidar_lidar;imu_imu</param>
        <param name="interface_name"></param>

        <sensor>
          <state_interface name="lidar"/>
          <state_interface name="imu"/>
        </sensor>

      </hardware>
    </ros2_control>
    
  </xacro:macro>
</robot>